  <footer class="amz-footer">
    <p>© 2016 <a href="http://www.52ecu.com" target="_blank">DongSong, Inc.</a></p>
    <p>联系电话：15921425553</p>
  </footer>

  <div class="amz-toolbar" id="amz-toolbar">
    <a href="javascript:void(0)" class="am-icon-btn am-icon-weixin m-top-weixin">
    	<div></div>
    </a>
    <a href="tel://15921425553" class="am-icon-btn am-icon-mobile"></a>
  </div>

<!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="../js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="/js/jquery.min.js"></script>
<!--<![endif]-->
<script src="/js/amazeui.min.js"></script>
</body></html>