<!DOCTYPE html>
<html class="js cssanimations"><head lang="en">
  <meta charset="UTF-8">
  <title>Dim ECU | 最专业的ECU特调</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
  <meta name="format-detection" content="telephone=no">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp">
  <link rel="stylesheet" href="/m/css/amazeui.min.css">
  <link rel="stylesheet" href="/m/css/m.style.css">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <script>
  var _hmt = _hmt || [];
  (function() {
    var hm = document.createElement("script");
    hm.src = "//hm.baidu.com/hm.js?23836422ac256c4b21e04dd8b61bd72a";
    var s = document.getElementsByTagName("script")[0]; 
    s.parentNode.insertBefore(hm, s);
  })();
  </script>

  <script src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
  <script type="text/javascript">
  //   var shareInfo = {
  //     title: 'DimECU',
  //     desc: '我在大悦城试镜直播，快来看看!',
  //     link: 'http://www.vgame.tv/auth/weixin_client?state=',
  //     imgUrl: 'http://www.vgame.tv/images/share-image.png',
  //     success: function () {
  //     },
  //     cancel: function () {
  //     }
  //   };

  //   var params = {
  //     debug: true,
  //     appId: 'wx1268f0649e449ac7',
  //     timestamp: 1459998069,
  //     nonceStr: '9C0dRc4JNxMwBOKo',
  //     signature: 'bf13a219cd6994a22e812657cbbf20c24c3da2b9',
  //     jsApiList: [
  //       'onMenuShareAppMessage',
  //       'onMenuShareTimeline',
  //       'onMenuShareQQ',
  //       'onMenuShareWeibo',
  //       'onMenuShareQZone'
  //     ]
  //   };
    
  //   wx.config(params);
  //   wx.ready(function(){
  //     wx.onMenuShareAppMessage(shareInfo);
  //   });
  </script>

</head>
<body>
	<header class="am-topbar am-topbar-inverse am-topbar-fixed-top headercolor chageheader" id="header">
    <div class="am-container">
      <h1 class="am-topbar-brand am-text-ir">
        <a href="/m">Dim ECU</a>
      </h1>

      <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-secondary am-show-sm-only" data-am-collapse="{target: '#doc-topbar-collapse'}">
        <span class="am-sr-only">导航切换</span>
        <span class="am-icon-bars"></span>
      </button>

      <div class="am-collapse am-topbar-collapse am-topbar-right" id="doc-topbar-collapse">
        <ul class="am-nav am-nav-pills am-topbar-nav">
          <li>
            <a href="/m">首页</a>
          </li>
          <li>
            <a href="/m/case_list">改装案例</a>
          </li>
          <li>
            <a href="/m/contact">联系我们</a>
          </li>
          <li>
            <a href="/m/about_us">关于我们</a>
          </li>
          <li>
            <a href="/m/coperation">合作加盟</a>
          </li>
        </ul>
      </div>
    </div>
  </header>