<!DOCTYPE html>
<html class="js cssanimations"><head lang="en">
  <meta charset="UTF-8">
  <title>Dim ECU | 最专业的ECU特调</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="format-detection" content="telephone=no">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp">
  <link rel="stylesheet" href="/m/css/amazeui.min.css">
  <link rel="stylesheet" href="/m/css/m.style.css">
</head>
<body>
	<header class="am-topbar am-topbar-inverse am-topbar-fixed-top headercolor chageheader" id="header">
    <div class="am-container">
      <h1 class="am-topbar-brand am-text-ir">
        <a href="#">Dim ECU</a>
      </h1>

      <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-secondary am-show-sm-only" data-am-collapse="{target: '#doc-topbar-collapse'}">
        <span class="am-sr-only">导航切换</span>
        <span class="am-icon-bars"></span>
      </button>

      <div class="am-collapse am-topbar-collapse am-topbar-right" id="doc-topbar-collapse">
        <ul class="am-nav am-nav-pills am-topbar-nav">
          <li>
            <a href="/m">首页</a>
          </li>
          <li>
            <a href="/m/case_list" target="_blank">改装案例</a>
          </li>
          <li>
            <a href="/m/contact" target="_blank">联系我们</a>
          </li>
          <li>
            <a href="/m/about_us" target="_blank">关于我们</a>
          </li>
          <li>
            <a href="/m/coperation" target="_blank">合作加盟</a>
          </li>
        </ul>
      </div>
    </div>
  </header>