<% include template/header.html %>
	<div class="layout">
		<div class="body">
			<div class="title">
				<h2>关于ECU</h2>
			</div>
			<div class="article">
				<h4>什么是ECU?</h4>
				<p>ECU（Electronic Control Unit）电子控制单元，又称“行车电脑”、“车载电脑”等。从用途上讲则是汽车专用微机控制器。它和普通的电脑一样,由微处理器（CPU）、存储器（ROM、、RAM）、输入/输出接口（I/O）、模数转换器（A/D）以及整形、驱动等大规模集成电路组成。用一句简单的话来形容就是“ECU就是汽车的大脑”。</p>
				<h4>ECU改装是什么？</h4>
				<p>改装ECU，就是通过改变处理问题的方法（原先设定好的ECU程序），来达到改变发动机运行的目的。所谓的“ECU程序”，其实就是一套运算法则，它存放在储存器内，对从输入设备经控制器转化而来的信号，处理生成对应的指令信号，从输出设备传输出去。于是，我们对于ECU参数的修改，实际上就是在修改运算法则。</p>

				<img src="http://7xrv5p.com1.z0.glb.clouddn.com/006.jpg">
			</div>
		</div>
	</div>
<% include template/footer.html %>