<% include template/header.html %>
  <div class="cases">
    <div class="am-list-news am-list-news-default am-no-layout" date-am-widgets="list_news">
      <div clas="am-list-news-bd">
        <ul class="am-list">
          <% for (var key in items){ %>
            <li class="am-g am-list-item-desced am-list-item-thumbed am-list-item-thumb-right">
              <a href="/m/case_detail?id=<%-items[key].id%>">
                <div class="am-u-sm-4 am-list-thumb">
                  <img src="<%-items[key].thumbnail_url%>?imageMogr2/thumbnail/!20p">
                </div>
                <div class=" am-u-sm-8 am-list-main" style="height: 75px;">
                  <div class="am-list-item-text case_desc">
                    <%-items[key].description%>
                  </div>
                  <div class="am-list-item-hd case_title">
                    <span><%-items[key].car_type %></span>
                    <div class="case_date"><%-items[key].date %></div>
                  </div>
                </div>
              </a>
            </li>
          <% } %>
        </ul>
      </div>
    </div>
  </div>
<% include template/footer.html %>