<% include template/header.html %>

  <div class="am-container bgimg ">
    <div class="">
        <h1 class="amz-mascot am-scrollspy-init am-scrollspy-inview am-animation-slide-left">最专业的ECU特调</h1>
        <h2 class="amz-mascot am-scrollspy-init am-scrollspy-inview am-animation-slide-up">已升级2703辆车</h2>
        <button type="button" class="am-btn am-btn-secondary am-radius am-animation-slide-bottom">
          <a href="tel://15921425553" target="_blank">
            <b style="color: #ffffff;">立即预约</b>
          </a>
        </button>
    </div>
  </div>

  <div class="detail">
    <div class="am-g am-container">
      <div class="am-u-lg-12">
        <h2 class="detail-h2">意大利顶级ECU品牌</h2>
        <div class="am-g">
          <div class="am-u-lg-6 am-u-md-6 am-u-sm-12 detail-mb am-animation-slide-left">
            <h3 class="detail-h3">
              <i class="am-icon-mobile am-icon-sm"></i>
              品牌介绍
            </h3>
            <p class="detail-p">
              总部位于意大利，有着20多年的ECU改装历史，无数次在国际改装比赛上获奖，一直在ECU改装上处于全球领先地位。
            </p>
          </div>
          <div class="am-u-lg-6 am-u-md-6 am-u-sm-12 detail-mb">
            <h3 class="detail-h3">
              <i class="am-icon-cogs am-icon-sm"></i>
              为什么刷ECU？
            </h3>

            <p class="detail-p">
              自然进气车型可增加马力10﹪左右；<br>
              TURBO车型可增加马力20%-35%，甚至更多；<br>
              换档时更平顺，动力衔接更棒；<br>
              可解决许多原厂无法解决的问题,如:怠速过低易熄火,变速箱换档震动的问题。<br>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="cases">
    <div class="am-list-news am-list-news-default am-no-layout" date-am-widgets="list_news">
      <div clas="am-list-news-bd">
        <ul class="am-list">
          <li class="am-g am-list-item-desced am-list-item-thumbed am-list-item-thumb-right">
            <a href="/m/case_detail?id=56f170631a660d981b639a3a">
              <div class="am-u-sm-4 am-list-thumb">
                  <img src="http://7xs5qt.com1.z0.glb.clouddn.com/1-160214143A1244.jpg?imageMogr2/thumbnail/!20p">
              </div>
              <div class=" am-u-sm-8 am-list-main" style="height: 75px;">
                <div class="am-list-item-text case_desc">
                  350Z 这个车 话说深圳非常少！但是玩车的朋友始终是激情的 从外地搞了一个过来车牌还是辽！哈哈 开干开干！
                </div>
                <div class="am-list-item-hd case_title">
                  <div class="case_car_type">尼桑350Z跑车</div>
                  <div class="case_date">3天前</div>
                </div>
              </div>
            </a>
          </li>

          <li class="am-g am-list-item-desced am-list-item-thumbed am-list-item-thumb-right">
            <a href="/m/case_detail?id=56f16e111a660d981b639a37">
              <div class="am-u-sm-4 am-list-thumb">
                  <img src="http://7xs5qt.com1.z0.glb.clouddn.com/1-16022R31T5213.jpg?imageMogr2/thumbnail/!20p">
              </div>
              <div class=" am-u-sm-8 am-list-main" style="height: 75px;">
                <div class="am-list-item-text case_desc">
                  今天作业的主角就是这台白色的高功率版新蒙迪欧！
                </div>
                <div class="am-list-item-hd case_title">
                  <div class="case_car_type">福特蒙迪欧2.0T</div>
                  <div class="case_date">10天前</div>
                </div>
              </div>
            </a>
          </li>       

          <li class="am-g am-list-item-desced am-list-item-thumbed am-list-item-thumb-right">
            <a href="/m/case_detail?id=56f16f291a660d981b639a38">
              <div class="am-u-sm-4 am-list-thumb">
                  <img src="http://7xs5qt.com1.z0.glb.clouddn.com/1-16022R32UK27.jpg?imageMogr2/thumbnail/!20p">
              </div>
              <div class=" am-u-sm-8 am-list-main" style="height: 75px;">
                <div class="am-list-item-text case_desc">
                  E260这一款车 做工是相当精良的，不愧是梅菜德斯！奔驰E级2.0T、3.0T低功版车型正式上市，从此，E200L、E320L这两个新型号出现在车型列表上，而E260L也经过了换“心”处理。
                </div>
                <div class="am-list-item-hd case_title">
                  <div class="case_car_type">奔驰E260L</div>
                  <div class="case_date">12天前</div>
                </div>
              </div>
            </a>
          </li> 

          <li class="am-g am-list-item-desced am-list-item-thumbed am-list-item-thumb-right">
            <a href="/m/case_detail?id=56f17f3c2a3008d16d28775c">
              <div class="am-u-sm-4 am-list-thumb">
                  <img src="http://7xs5qt.com1.z0.glb.clouddn.com/1-16021522012c62.png?imageMogr2/thumbnail/!20p">
              </div>
              <div class=" am-u-sm-8 am-list-main" style="height: 75px;">
                <div class="am-list-item-text case_desc">
                  本性嚣张-奔驰C63刷ECU后动力狂暴来袭 奔驰C63刷ECU后动力狂暴来袭, 本性嚣张, 发动机爆发了强大的推力.
                </div>
                <div class="am-list-item-hd case_title">
                  <div class="case_car_type">奔驰C63</div>
                  <div class="case_date">8天前</div>
                </div>
              </div>
            </a>
          </li> 

          <li class="am-g am-list-item-desced am-list-item-thumbed am-list-item-thumb-right">
            <a href="/m/case_detail?id=56f16e111a660d981b639a37">
              <div class="am-u-sm-4 am-list-thumb">
                  <img src="http://7xs5qt.com1.z0.glb.clouddn.com/1-16022R31431S0.jpg?imageMogr2/thumbnail/!20p">
              </div>
              <div class=" am-u-sm-8 am-list-main" style="height: 75px;">
                <div class="am-list-item-text case_desc">
                  本次改装ECU的宝马740属于车型过重,加速迟滞感比较明显的常见案例. 新款加入双涡轮增压的车型在动力上还是可以的,怎么说也是740,不可能很频繁的换车,所以也不妨对它进行一些动力方面的提升,达到自己的要求就好了.越是豪华的车型就越重,还是着重从扭矩的提升会让自己的加速来的更快.
                </div>
                <div class="am-list-item-hd case_title">
                  <div class="case_car_type">宝马740LI</div>
                  <div class="case_date">16天前</div>
                </div>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>

  </div>

  <div class="am-g am-container" style="margin-bottom: 20px;">
    <div class="am-u-lg-12">
        <a href="/m/case_list" target="_blank" class="am-btn am-btn-success am-btn-block">查看更多案例</a>
    </div>
  </div>

// <script type="text/javascript">
// document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {
// window.shareData = {
//   "timeLineLink": "m.52ecu.com",   
//   "sendFriendLink": "m.52ecu.com",
//   "weiboLink": "m.52ecu.com",
//   "tTitle": "DimECU——专业升级ECU",
//   "tContent": "DimECU——意大利进口品牌，专业升级ECU，快速提升车辆加速性能！",
//   "fTitle": "DimECU——专业升级ECU",
//   "fContent": "DimECU——意大利进口品牌，专业升级ECU，快速提升车辆加速性能！",
//   "wContent": "DimECU——意大利进口品牌，专业升级ECU，快速提升车辆加速性能！"
//   };
//   // 发送给好友
//   WeixinJSBridge.on('menu:share:appmessage', function (argv) {
//       WeixinJSBridge.invoke('sendAppMessage', {
//         "img_url": "http://7xso22.com1.z0.glb.clouddn.com/logo-lg.png",
//         "img_width": "110",
//         "img_height": "110",
//         "link": window.shareData.sendFriendLink,
//         "desc": window.shareData.fContent,
//         "title": window.shareData.fTitle
//       }, function (res) {
//             alert('123344');
//           _report('send_msg', res.err_msg);
//       })
//   });
//   // 分享到朋友圈
//   WeixinJSBridge.on('menu:share:timeline', function (argv) {
//     alert('123344');
//       WeixinJSBridge.invoke('shareTimeline', {
//           "img_url": "http://7xso22.com1.z0.glb.clouddn.com/logo-lg.png",
//           "img_width": "110",
//           "img_height": "110",
//           "link": window.shareData.timeLineLink,
//           "desc": window.shareData.tContent,
//           "title": window.shareData.tTitle
//       }, function (res) {
//           _report('timeline', res.err_msg);
//       });
//   });
// }, false)
// </script>


<% include template/footer.html %>