<% include header.html %>
<link rel="stylesheet" href="/p/css/case_detail.css">
<div class="case-detail">
	<div class="layout">
		<div class="intro">
			<div class="image-area">
				<div class="main-image">
					<img src="<%-info.thumbnail_url %>" alt="img" style="display: block;">
				</div>
			</div>
			<div class="desc-area">
				<h3><%-info.car_type %></h3>
				<h4><%-info.date %></h4>
				<div class="info">
					<div class="fl">
						<p>刷写指导价格</p>
						<h3 style="max-width:80px" class="mark"><%-info.guide_price %>元</h3>
					</div>
<!-- 					<div class="fl">
						<p>百公里提速</p>
						<h3 style="max-width:220px">
							刷写前：6.2秒&nbsp;|&nbsp;刷写后：<span class="mark">3.8</span>秒
						</h3>
					</div>	 -->											
					<div class="fl l">
						<p>所在地</p>
						<h3 style="max-width:80px"><%-info.location %></h3>
					</div>
				</div>

				<div class="comment"><%-info.description %></div>
			</div>
		</div>
		<div class="detail">
			<% for (var i =0; i< detail.length; i ++){ %>
				<% if (detail[i].photo){ %>
					<div class="image-wrapper">
						<img src="<%-detail[i].photo %>">
					</div>				
				<% } %>
				<% if (detail[i].explanation){ %>
					<div class="description"><%-detail[i].explanation %></div>	
				<% } %>
			<% } %>

		</div>
	</div>
</div>