.about-box{
	padding: 20px;
	height: 366px;
}

.about-box h3{
	padding-bottom: 42px;
	text-align: center;
	font-size: 20px;
}

.about-box p{
	text-align: left;
	font-family: 微软雅黑, 'Microsoft YaHei';
	font-size: 14px;
	color: rgb(62, 62, 62);
	line-height: 25.6px;
	text-indent: 0em;
	white-space: pre-wrap;
	widows: auto;
	max-width: 100%;
	box-sizing: border-box !important;
	word-wrap: break-word !important;	
}