
.body{
	padding: 60px;
}

.body .x-loaded{
	display: inline-block;
	margin-top: 10px;
	padding: 4px;
	border: 1px solid #ccc;
	clear: both;
	background-color: #fff;	
}

.body .title{
	border-bottom: 1px solid #e5e5e5;
	color: #000;
}

.body .title h2{
	font-size: 18px;
	margin-bottom: 20px;
}

.body .article p {
	color: #333;
	margin: 22px 0;
	font-size: 14px;
	line-height: 20px;
}

.body .article img {
	max-width: 600px;
}