<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>Dim Ecu|升级ECU，试车不满意不收费</title>
		<link type="text/css" rel="stylesheet" href="./css/common.css" media="all">
		<link type="text/css" rel="stylesheet" href="./css/detail.css" media="all">
		<link rel="shortcut icon" href="./images/favicon_dimsport.ico">
	</head>
	<body>
		<div id="wrapper">
			<div class="layout header">
				<div class="header-nav-box">
					<a href="/" class="logo" title="Dim Ecu">
						<img src="./images/logo.png" alt="Dim Ecu" width="100px" height="20px">							
					</a>			
					<div class="main-nav">
						<a href="/about_ecu" class="item">关于ECU</a>
						<a href="/brand" class="item">品牌介绍</a>
						<a href="/cases" class="item">升级案例</a>
					</div>
					<div class="sub-nav">
						<a href="#" class="sub-item wechat">
							关注微信
							<div class="dropdown">
								<img src="./images/logo-weixin_d4435e2.jpg" alt="DimEcu微信号">
							</div>
						</a>	
						<a href="/contact" class="sub-item">联系我们</a>
						<a href="http://wpa.qq.com/msgrd?v=3&uin=445954717&site=qq&menu=yes" class="sub-item" target="_blank">在线咨询</a>
					</div>
				</div>
			</div>
