<% include template/header.html %>
<link rel="stylesheet" href="./css/detail.css">
<link rel="stylesheet" href="./css/cases.css">
		<div class="layout">
			<div class="title">
				<h2>升级案例</h2>
			</div>

			<div class="case-box">
			<% for (var i = 0; i < 4; i ++) { %>
				<ul class="infos">
					<% for (var j =  0; j < items.length / 4 + 1; j++){ %>
					<% if (!!items[j * 4 + i]){ %>
					<li class="info pr">
						<a href="/case?id=<%-items[j * 4 + i].id %>" class="link-pic">
							<img class="lazyout-1" width="280" src="<%-items[j * 4 + i].thumbnail_url %>">
						</a>
						<div class="i-title">
							<p><%-items[j * 4 + i].date %>
								<span class="car-type"><%-items[j * 4 + i].car_type %></span>
								<span class="location"><%-items[j * 4 + i].location %></span>
							</p>
						</div>
						<div class="i-descr">
							<p class="text">
								<a target="_blank" href="/case?id=<%-items[j * 4 + i].id %>" style="color:#5e5e5e"><%-items[j * 4 + i].description %></a>
							</p>
						</div>
					</li>
					<% } %>
					<% } %>
				</ul>
			<% } %>
			</div>
		</div>
	</body>
</html>		