<div class="global_mod user_global_opr float_layout">
	<div class="global_info">
		<div class="search_bar" style="margin-bottom:30px">
			<span class="frm_input_box search with_del append ">
				<a class="del_btn jsSearchInputClose" href="javascript:" style="display:none">
					<i class="icon_search_del"></i>&nbsp;
				</a>
				<a href="javascript:" class="frm_input_append jsSearchInputBt">
					<i class="icon16_common search_gray">搜索</i>&nbsp;
				</a>
				<input type="text" value="" class="frm_input jsSearchInput" placeholder="xx">
			</span>
		</div>
	</div>
	<div class="global_extra">
		<a ui-sref="app.customer.add" class="btn btn_primary btn_add">
			<i class="icon14_common add_white"></i>新建</a>
	</div>
</div>

<table class="table">
	<thead class="thead">
		<tr>
			<th class="table_cell">来源</th>
			<th class="table_cell">型号</th>
      <th class="table_cell">手机号</th>
      <th class="table_cell">QQ号</th>
      <th class="table_cell">微信号</th>
      <th class="table_cell">报价</th>
      <th class="table_cell">当前状态</th>
      <th class="table_cell">操作</th>
		</tr>
	</thead>
	<tbody class="tbody">
		<tr ng-repeat="customer in ctrl.customers">
			<td class="table_cell">{{customer.source}}</td>
			<td class="table_cell">{{customer}}</td>
			<td class="table_cell">{{customer.mobile}}</td>
			<td class="table_cell">{{customer.qq}}</td>
			<td class="table_cell">{{customer.weixin}}</td>
			<td class="table_cell">{{customer.quote}}</td>
			<td class="table_cell">{{customer.status}}</td>
			<td class="table_cell">
				<a ui-sref="app.customers.edit({id: customer.id})">编辑</a>&nbsp;&nbsp;
				<a ng-click="ctrl.deleteCustomer({id: customer.id})">删除</a>&nbsp;&nbsp;
				<a ui-sref="app.customers.detail({id: customer.id})">详情</a>
			</td>
		</tr>
	</tbody>
</table>
