<html>
	<head>
		<title>DIMECU-ECU领导者</title>
		<meta charset="utf-8">
		<link rel="shortcut icon" href="./images/favicon_dimsport.ico">
		<link rel="stylesheet" href="./css/common.css">
		<link rel="stylesheet" href="./css/index.css">
		<link rel="stylesheet" href="./css/quick-appoint.css">
	</head>
	<body>
		<div class="top-bar">
			<div class="layout wrapper">
				<div class="site-links">
					<a href="#" class="link tel">
						<i class="icon"></i>
						<b>客服热线&nbsp;:&nbsp;15921425553</b>
					</a>
					<i class="split"></i>
					<a href="javascript:;" class="link wechat">
						<i class="icon"></i>
						<b>微信</b>
						<div class="dropdown">
							<img src="./images/logo-weixin_d4435e2.jpg" alt="DIMECU微信号">
						</div>
					</a>
					<i class="split"></i>
					<a href="http://wpa.qq.com/msgrd?v=3&amp;uin=445954717&amp;site=qq&amp;menu=yes" target="_blank" class="link">
						<i class="icon"></i>
						<b>在线咨询</b>
					</a>
				</div>
			</div>
		</div>

		<div class="nav-bar">
			<div class="layout nav-box">
				<div class="nav-area">
					<a href="/why_ecu" class="item">为什么刷ECU？</a>
					<a href="/about_us" class="item">关于我们</a>
					<a href="/brand" class="item">品牌介绍</a>
					<a href="/map" class="item">服务地图</a>
				</div>
				<a class="logo" href="/">
					<img src="./images/logo_dimsport_204_46.png" alt="" width="204px" height="46px">
				</a>
			</div>
		</div>